__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
.db
.db-journal
.rdb
dump.rdb
.coverage
coverage.xml
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/
htmlcov/
.ideas/
.idea/
.idea/
staticfiles/
media/
.DS_Store
.vscode/
.env
.env.*
.envrc
.venv/
venv/
.venv
*.log
node_modules/
temp_*